<!doctype html><html lang="en"><head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- The above 2 meta tags *must* come first in the head
name: viewport is what makes your site responsive -->
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<!--        <link rel="stylesheet" href="css/normalize.css">-->
	<link rel="stylesheet" href="css/style.css">
	<link href="js/jquery-ui-1.12.1/jquery-ui.min.css" rel="stylesheet">
	<!--[if IE]>
<script 
src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
	<title>Hello World</title>
	</head>
	
	<body ng-app="ngCribs" ng-controller='cribsController'>
		
		<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
			<a class="navbar-brand" href="#">AngularJs-project-brand</a>
			<button class="btn btn-light float-right" type="button" disabled>Log Out</button>
		</nav>

		<div class="container-fluid" style="position:relative;top:75px;">
			<h1 class="text-center">{{ hello + ' how are you? ' + (3 * 7 )}}</h1>
			<hr>

			<button class="btn btn-lg btn-primary" ng-click="showMessage = !showMessage">Toggle Message</button>
			<!--         <button class="btn btn-lg btn-primary" ng-click="showMessage = false">Hide Message</button>-->

			<h2 ng-show="showMessage == true">Secret Message</h2>
			<br>
			<hr>

			<input type="text" placeholder="leave a message" ng-model="message">
			<h2> {{ message }} </h2>
			<hr>


			<!--                       ng-repeat="{item} in {array-of-items}"-->
<!--			<div class="row">-->
			<div class="card card-body bg-light col col-sm-4 " ng-repeat="crib in cribs.data">
				<div class="thumbnail">
					<img src="images/{{crib.image}}.jpg" style="height:90px;width:90px;" alt="A Beautiful House">
					<div class="caption">
						
<!--						toggle between the two sets of details but keep the images-->
						<div ng-hide="showDetails === true">
						
<!--						<h3> {{crib.address }}</h3>-->
							<h3><i class="glyphicon glyphicon-tag"></i> {{ crib.price | currency }}</h3>	
<!--						<p><strong>Type: </strong>{{ crib.type }}</p>-->
							<h4><i class="glyphicon glyphicon-home"></i> {{crib.address }}</h4>
<!--						<p><strong>Description: </strong> {{ crib.description }}</p>-->
							<span><i class="label label-primary label-sm"></i>{{ crib.type }}</span>
<!--						<p><strong>Price: </strong> {{ crib.price | currency }}</p>-->
                            
                        </div>
							<button class="btn btn-xs btn-success"
											ng-hide="showDetails === false"
											ng-click="showDetails = !showDetails">
								Details
							</button>
							<button class="btn btn-xs btn-danger"
											ng-hide="showDetails === true"
											ng-click="showDetails = !showDetails">
								Close
							</button>
							
						<div class="details" ng-hide="showDetails === true">
							<h4><span class="label label-primary">Description: {{ crib.description }}</span></h4>
							
							</div>
							
							
					</div>
				</div>
			</div>
<!--</div>-->


			<div class="container-fluid">
<!--				<div class="row">-->
					<pre><small>
                       {{ cribs | json }}
             </small>
        </pre>
<!--				</div>-->

			</div>
		</div>

		<!-- load cdn first, faster  -->
		<script src="//code.jquery.com/jquery-3.4.1.min.js"></script>
		<!-- if cdn unavailable, load local version-->
		<script src="js/jquery-3.4.1.js">window.jQuery || document.write('<script src="js/jquery-3.4.1.js"><\/script>');</script>
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<!--    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
		<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>-->
		<!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>-->
		<!--<script src="bootstrap/js/bootstrap.bundle.min.js"></script>       -->
		<!--<script src="js/script.js"></script>       -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap.min.js"></script>
		<script src="app.js"></script>
		<script src="scripts/cribsController.js"></script>
		<script src="scripts/cribsFactory.js"></script>
	</body>
</html>